.otherdrugsWrapper {
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.otherdrugsWrapper p {
  padding: 0.6em 0;
}
.otherdrugsWrapper h2 {
  padding: 0.4em 0 1em 0;
  font-size: 1.5rem;
  color: #222;
}

.otherdrugsItemAdrenalina,
.otherdrugsItemAdenozyna,
.otherdrugsItemDeksametazon,
.otherdrugsItemDiazepam,
.otherdrugsItemFentanyl,
.otherdrugsItemFlumazenil,
.otherdrugsItemHydrocortison,
.otherdrugsItemMagnez,
.otherdrugsItemMorfina,
.otherdrugsItemParacetamol {
  width: 85vw;
  margin: 0.5em;
  border-radius: 4px;
  display: flex;
  padding: 1.6em 2em 1.7em;
  flex-direction: column;
  text-align: left;
}

.otherdrugsItemAdrenalina {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    "top top"
    "left right"
    "bottom bottom";
  justify-content: flex-start;
  align-content: center;
  column-gap: 10px;
  row-gap: 5px;
  background-color: #efe26f;
  box-shadow: 1px 1px 0 #948a2e;
  background: linear-gradient(140deg, #efe26f 0%, #e2d457 100%);
}

.gridBottom{
  grid-area: bottom;
  padding-bottom: 10px;
}

.otherdrugsItemDeksametazon {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
  "top top top"
  "left middle right"
  "bottom bottom bottom";
  justify-content: flex-start;
  column-gap: 10px;
  row-gap: 15px;
  background-color: #dd8f4f;
  box-shadow: 1px 1px 0 #6b3911;
  background: linear-gradient(140deg, #eea061 0%, #bb6d2d 100%);
  align-content: center;
}

.otherdrugsItemAdenozyna {
  background-color: #dd4f4f;
  box-shadow: 1px 1px 0 #772121;
  background: linear-gradient(140deg, #f17373 0%, #bd4040 100%);
}


.adrenalina {
  color: #161616;
  grid-area: top;
  height: 100%;
}
.wstrzas {
  background-color: #f1e9a0;
  width: 100%;
  height: 100%;
  grid-area: left;
  color: #2a2922;
  line-height: 1.4em;
  border-radius: 4px;
  display: border-box;
  padding: 10px;
}
.napadastmy {
  background-color: #f1e9a0;
  width: 100%;
  height: 100%;
  grid-area: right;
  color: #2a2922;
  line-height: 1.4em;
  border-radius: 4px;
  display: border-box;
}

.otherdrugsItemAdrenalina p {
  color: #2a2922;
  line-height: 1.4em;
  margin-bottom: 0.75em;
  background-color: #f7ee9f;
  padding: 7px;
  border-radius: 4px;
}

.deksametazon {
  color: #161616;
  grid-area: top;
  height: 100%;
}

.anafilaksja,
.astma,
.zapaleniekrtani {
  background-color: #dda171;
  width: 100%;
  color: #2a2922;
  line-height: 1.4em;
  border-radius: 4px;
  display: border-box;
  padding: 5px;
}
.anafilaksja {
  grid-area: left;
}
.astma {
  grid-area: middle;
}
.zapaleniekrtani {
  grid-area: right;
}

.otherdrugsItemDeksametazon p {
  background-color: #eba770;
  padding: 7px;
  border-radius: 4px;
}
.otherdrugsItemDiazepam {
  background-color: #54dd4f;
  box-shadow: 1px 1px 0 #1d701a;
  background: linear-gradient(140deg, #8eee8b 0%, #47a044 100%);
}
.otherdrugsItemFentanyl {
  background-color: #4f69dd;
  box-shadow: 1px 1px 0 #ccc054;
}
.otherdrugsItemFlumazenil {
  background-color: #dd4fae;
  box-shadow: 1px 1px 0 #903070;
  background: linear-gradient(140deg, #f79bd8 0%, #b8368c 100%);
}
.otherdrugsItemHydrocortison {
  background-color: #b2a169;
  box-shadow: 1px 1px 0 #5c4d1d;
  background: linear-gradient(140deg, #d6c691 0%, #8b7c4a 100%);
}
.otherdrugsItemMagnez {
  background-color: #60b1ca;
  box-shadow: 1px 1px 0 #184350;
  background: linear-gradient(140deg, #95ddff 0%, #3c89a0 100%);
}
.otherdrugsItemMorfina {
  background-color: #ffa125;
  box-shadow: 1px 1px 0 #7e531c;
  background: linear-gradient(140deg, #ffb451 0%, #c4750e 100%);
}
.otherdrugsItemParacetamol {
  background-color: #9b9b9b;
  box-shadow: 1px 1px 0 #515151;
  background: linear-gradient(140deg, #c9c9c9 0%, #808080 100%);

}

.alert {
  color: red;
  background-color: rgb(252, 242, 255);
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  margin-top: 0.6em;
}
.invisible {
  display: none;
}
