.otherdrugsWrapper {
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.otherdrugsItemAdrenalina {
  width: 85vw;
  min-height: 25vh;
  background-color: #efe26f;
  margin: 0.5em;
  border-radius: 4px;
  display: flex;
  padding: 1.6em 2em 1.7em;
  flex-direction: column;
  box-shadow: 1px 1px 0 #ccc054;
  text-align: left;
}
.otherdrugsItemAdrenalina h2 {
  color: #2d2d2d;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.otherdrugsItemAdrenalina p {
  font-size: larger;
  color: #42413a;
  line-height: 1.4em;
  margin-bottom: 0.75em;
}
.otherdrugsItemAdenozyna {
  width: 85vw;
  min-height: 25vh;
  background-color: #dd4f4f;
  margin: 0.5em;
  border-radius: 4px;
  display: flex;
  padding: 1.6em 2em 1.7em;
  flex-direction: column;
  box-shadow: 1px 1px 0 #9f3333;
  text-align: left;
}

.otherdrugsItemAdenozyna p {
  font-size: larger;
  color: #42413a;
  line-height: 1.4em;
  margin-bottom: 0.75em;
}
.otherdrugsItemAdenozyna h2 {
  color: #2d2d2d;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 0.3em;
}

.otherdrugsItemDexaven {
  width: 85vw;
  min-height: 25vh;
  background-color: #dd8f4f;
  margin: 0.5em;
  border-radius: 4px;
  display: flex;
  padding: 1.6em 2em 1.7em;
  flex-direction: column;
  box-shadow: 1px 1px 0 #ab6125; /* todo: change here */
  text-align: left;
}
.otherdrugsItemDexaven p {
  font-size: larger;
  color: #42413a;
  line-height: 1.4em;
  margin-bottom: 0.75em;
}
.otherdrugsItemDexaven h2 {
  color: #2d2d2d;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.otherdrugsItemDiazepam {
  width: 85vw;
  min-height: 25vh;
  background-color: #54dd4f;
  margin: 0.5em;
  border-radius: 4px;
  display: flex;
  padding: 1.6em 2em 1.7em;
  flex-direction: column;
  box-shadow: 1px 1px 0 #2d9b29;
  text-align: left;
}
.otherdrugsItemDiazepam p {
  font-size: larger;
  color: #42413a;
  line-height: 1.4em;
  margin-bottom: 0.75em;
}
.otherdrugsItemDiazepam h2 {
  color: #2d2d2d;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 0.3em;
}

.otherdrugsItemFentanyl {
  width: 80vw;
  min-height: 25vh;
  background-color: #4f69dd;
  margin: 0.5em;
  border-radius: 4px;
  display: flex;
  padding: 1.6em 2em 1.7em;
  flex-direction: column;
  box-shadow: 1px 1px 0 #ccc054; /* todo: change here */
  text-align: left;
}
.otherdrugsItemFentanyl p {
  font-size: larger;
  color: #42413a;
  line-height: 1.4em;
  margin-bottom: 0.75em;
}
.otherdrugsItemFentanyl h2 {
  color: #2d2d2d;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 0.3em;
}

.otherdrugsItemFlumazenil {
  width: 85vw;
  min-height: 25vh;
  background-color: #dd4fae;
  margin: 0.5em;
  border-radius: 4px;
  display: flex;
  padding: 1.6em 2em 1.7em;
  flex-direction: column;
  box-shadow: 1px 1px 0 #903070; /* todo: change here */
  text-align: left;
}
.otherdrugsItemFlumazenil p {
  font-size: larger;
  color: #42413a;
  line-height: 1.4em;
  margin-bottom: 0.75em;
}
.otherdrugsItemFlumazenil h2 {
  color: #2d2d2d;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.otherdrugsItemHydrocortison {
  width: 85vw;
  min-height: 25vh;
  background-color: #8f7933;
  margin: 0.5em;
  border-radius: 4px;
  display: flex;
  padding: 1.6em 2em 1.7em;
  flex-direction: column;
  box-shadow: 1px 1px 0 #5c4d1d;
  text-align: left;
}

.otherdrugsItemHydrocortison p {
  font-size: larger;
  color: #42413a;
  line-height: 1.4em;
  margin-bottom: 0.75em;
}
.otherdrugsItemHydrocortison h2 {
  color: #2d2d2d;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 0.3em;
}

.otherdrugsItemMagnez {
  width: 85vw;
  min-height: 25vh;
  background-color: #0dad6b;
  margin: 0.5em;
  border-radius: 4px;
  display: flex;
  padding: 1.6em 2em 1.7em;
  flex-direction: column;
  box-shadow: 1px 1px 0 #045332;
  text-align: left;
}
.otherdrugsItemMagnez p {
  font-size: larger;
  color: #42413a;
  line-height: 1.4em;
  margin-bottom: 0.75em;
}
.otherdrugsItemMagnez h2 {
  color: #2d2d2d;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.otherdrugsItemMorfina {
  width: 85vw;
  min-height: 25vh;
  background-color: #ffa125;
  margin: 0.5em;
  border-radius: 4px;
  display: flex;
  padding: 1.6em 2em 1.7em;
  flex-direction: column;
  box-shadow: 1px 1px 0 #b37a2e;
  text-align: left;
}
.otherdrugsItemMorfina p {
  font-size: larger;
  color: #42413a;
  line-height: 1.4em;
  margin-bottom: 0.75em;
}
.otherdrugsItemMorfina h2 {
  color: #2d2d2d;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.otherdrugsItemParacetamol {
  width: 85vw;
  min-height: 25vh;
  background-color: #9b9b9b;
  margin: 0.5em;
  border-radius: 4px;
  display: flex;
  padding: 1.6em 2em 1.7em;
  flex-direction: column;
  box-shadow: 1px 1px 0 #515151;
  text-align: left;
}
.otherdrugsItemParacetamol p {
  font-size: larger;
  color: #42413a;
  line-height: 1.4em;
  margin-bottom: 0.75em;
}
.otherdrugsItemParacetamol h2 {
  color: #2d2d2d;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.alert{
    color: red;
}
.unvisible{
    display: none;
}
