.information{
  width: 98vw;
  font-size: 0.7em;
  margin: 1.5vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.header{
  color: red;
  font-size: 1.9em;
  margin: 0.5vw;
}

.body{
  color: black;
  font-size: 1.4em;
  margin: 0.5vw;
  width: 90%;
  max-width: 800px;
  align-self: center;
}