.information {
  position: absolute;
  margin: 0;
  display: flex;
  flex-flow: column;
  z-index: 2;
  background-color: #f0f8ff;
  padding: 5vmin;
  min-height: 150vh;
  text-align: center;
  padding-bottom: 250px;
}

.hidden {
  display: none;
}

.header {
  color: #dc143c;
  font-size: 5rem;
  padding-top: 5vmin;
  text-transform: uppercase;
}

.header2 {
  color: #dc143c;
  font-size: 2rem;
  padding: 1vmin 0vmin;
}

.disclaimer,
.disclaimer2 {
  font-size: 1.25rem;
  line-height: 1.7;
  width: 90%;
  align-self: center;
  padding: 5vmin 0;
}

.disclaimer2{
  color: red;
}

.accept {
  font-size: 1.25rem;
  letter-spacing: 1pt;
  line-height: 1.3;
  background-color: #e73d3d;
  color: #fff;
  transition-duration: 0.5s;
  border-radius: 0.5em;
  border: 0.1em solid #883838;
  padding: 1.2em 4em 1.4em;
  cursor: pointer;
  font-weight: 500;
  margin-top: 70px;
}

.accept:hover {
  background-color: #da0000;
}
