.wrapper {
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: aliceblue;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}

.button {
  display: flex;
    align-items: center;
    color: #0d71b4;
    background-color: #e3f2ff;
    font-weight: 500;
    border-bottom: 4px solid;
    padding: 4vw 8vw 4vw 6vw;
    transition: 0.3s ease;
}

.button input{
  display: none;
}

.button svg{
  position: absolute;
  opacity: 1;
  transition: 0.3s ease;
}

.button p {
  margin-left: 6vh;
}

.button.inactive {
  /* background: #f1f1f1; */
  border-bottom: 4px solid transparent;
    color: #7c8ca9;
    background: transparent;
  /* box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2); */
}

.button.inactive svg{
  
  opacity: 0;
}

.button:hover {
  background-color: #d1e7fa;
}