.wrapper {
  width: 98vw;
  display: flex;
  align-items: normal;
  justify-content: center;
  background: #202340;
  
}

.button {
  display: flex;
  align-items: center;
  color: #004675;
  background-color: white;
  font-weight: 500;
  /* border-top: 8px solid #0A84FF; */
  border: 0px;
  box-shadow: inset 0 8px 0 #0A84FF;
  /* border-radius: 4px 4px 0 0; */
  padding: 4vw 8vw 4vw 6vw;
  transition: 0.15s ease;
  width: 45vw;
  margin-top: 20px;
}

.button input{
  display: none;
}

.button svg{
  position: absolute;
  opacity: 1;
  transition: 0.15s ease;
  margin-left: -20px;
}

.button p {
  margin: 0 auto;
  font-size: 2.8vmin;
}

.button:hover {
  box-shadow: inset 0 8px 0 #3d9eff;
  color: #0d6dad;
}

.button.inactive {
  /* background: #f1f1f1; */
  /* border-left: 1px solid #334c64; */
  /* border-right: 1px solid #334c64; */
  /* box-shadow: inset 0 1px 0 #334c64; */
  box-shadow: none;
  color: #cfcfcf;
  background: #272b4b;
  /* box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2); */
}


.button.inactive::before,
.button.inactive::after{
  display: block;
  height: 100%;
  border: 1px solid white;
}

.button.inactive svg{
  opacity: 0;
}



.button.inactive:hover {
  background-color: #2c3152;
  color: white;
}