.menuClosed {
  position: relative;
  width: 100vw;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.05s linear, max-height 0.1s linear;
}

.menuOpened {
  position: relative;
  width: 100vw;
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 276px;
  transition: all 0.2s cubic-bezier(.86,0,.07,1), max-height 0.1s linear;
}

.menuBlock ul {
  margin: 0 auto;
  width: 100vw;
}

.listItem {
  position: relative;
  width: 100vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  color:rgb(58, 62, 71);

  cursor: pointer;
  padding: 20px;
}

.icon {
  margin-right: 20px;
  color:rgb(104, 120, 155);
}

.listItem:hover{
  color: #08629e;
  background-color: #f7fcff;
}

.listItem:hover .icon {
  color: #4b85ac;
}
