.menuBlock {
  position:relative;
  width: 225px;
  height: 185px;
  left: 4px;
  top: 4px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  
  
}
.listItem {
  position: relative;
  height: 24px;
  left: 26px;
  right: 57px;
  top: calc(50% - 24px / 2);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.87);
}
.icon {
  margin-right: 20px;
}
