.wrapper {
  margin: 4vw 4vw 1vw 4vw;
  width: 92vw;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 10px;
  color: #383737;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper button {
  /* padding: 2.7vw 2vw 3vw 2vw; */
  padding: 4vw 0 4vw 0;
  /* 100  - 4 * 10 - 0.8 * 8 -20*/
  width: 25vw;
  margin: 0.8vw;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.05em;
  border: none;
  border-radius: 4px;
}

.buttonA {
  background: #228ad0;
}

.buttonB {
  background: #0d71b4;
}

.wrapper button:hover {
  background: #08629e;
}

.wrapper h4{
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em 0 1em 0;
}

input {
  margin: 0.8vw;
  outline: none;
  background: #f4f5f4;
  border: none;
  border-bottom: 1.5px solid #a3a3a3;
  font-size: 2rem;
  line-height: 2em;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737b7d;
  min-width: 1.6em;
  max-width: 20vw;
}

.unitplaceholder{
  position: absolute;
  font-size: 1.8em;
  color: #acacac;
  margin-top: 2px;
  margin-left: 2.2em;
  pointer-events: none;
}

.measurement{
  visibility: hidden;
  position: absolute;
}