.weightWrapper {
  position: relative;
  width: 100vw;
  height: 10vh;
  top: 13vh;
  display: flex;
  flex-direction: column;
}
.weightWrapper h1 {
  position: static;
  height: 20px;
  left: 123px;
  right: 120px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  color: rgba(0, 0, 0, 0.87);
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.weightButton {
  position: static;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background: #e3e3e3;
  border-radius: 4px;
  outline: none;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  /* identical to box height, or 92% */

  text-align: center;
  letter-spacing: 0.1px;

  color: #7c7c7c;
}
.weightInput {
  position: static;
  margin-left: 20px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 45px;
  outline: none;
  /* Light / Gray lightest */

  background: #f4f5f4;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid #a3a3a3;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;

  /* Light / Gray dark */

  color: #737b7d;
}
