.warningBlock {
  position: relative;
  top: 80px;
  
  width: 100vw;
  height: 12vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
}

.warnHeader {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #712121;
  margin-bottom: 15px;
}
.warningBlock p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  margin-bottom: 2vh;
  color: #272727;
}
