.LegalWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: red;
  line-height: 1.5em;
}

.LegalWrapper h1 {
  padding: 5vmin 0 2vmin 0;
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
}

.LegalWrapper h2,
.LegalWrapper h4,
.LegalWrapper h3,
.LegalWrapper p {
  padding-top: 4vmin;
  font-weight: 400;
}

.LegalWrapper p,
.LegalWrapper h3{
  color: black;
}

