.LegalWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  color: #dc143c;
  
  padding-top: 5vmin;
  text-transform: uppercase;
}

.header2 {
  color: #dc143c;
  
  padding: 1vmin 0vmin;
}

.disclaimer,
.disclaimer2 {
  
  line-height: 1.7;
  width: 90%;
  align-self: center;
  padding: 5vmin 0;
}

.disclaimer2{
  color: red;
}
