.cardWrapper {
  width: 98vw;
  position: relative;
  top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec {
  display: flex;
  flex-direction: row;
}

.cardWrapper h4 {
  padding: 0.4em 0 1em 0;
  font-size: 1.5rem;
}

.cardWrapper p {
  padding: 0.6em 0;
}

.cardA,
.cardB,
.cardC,
.cardD{
  width: 45vw;
  min-height: 25vh;
  border-radius: 3px;
  margin: 0.5em;
  padding: 1.6em 2.4em 1.7em;
  color: white;
}

.cardA {
  background-color: #a5810b;
  box-shadow: 1px 1px 0 #473702;
  background: linear-gradient(140deg, #b48d0d 0%, #795e06 100%);
}

.cardB {
  background: #3a8837;
  box-shadow: 1px 1px 0 #183618;
  background: linear-gradient(140deg, #459e42 0%, #255f23 100%);
}

.cardC {
  background: #275561;
  box-shadow: 1px 1px 0 #0a1d22;
  background: linear-gradient(140deg, #326c7a 0%, #183b44 100%);
}

.cardD {
  background: #8d230f;
  box-shadow: 1px 1px 0 #2e0902;
  background: linear-gradient(140deg, #b13118 0%, #721907 100%);
}

.invisible{
  display: none;
}

.alert{
  padding: 1.5vh 2.5vw;
  border: 3px solid red;
  border-radius: 5px;
  margin: 2vh 1vw;
  color: red;
}