.buttonWrapper {
  position: relative;
  width: 100vw;
  top: 21vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  width: 10vw;
  height: 10vh;
  display: flex;

  align-items: center;
  justify-content: space-around;
  background: #272727;
  box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px 0px 0px 4px;
}
.button input {
  display: none;
}
.button p {
  position: relative;
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 37px;
  color: white;

  text-align: center;
  letter-spacing: 0.1px;
}
.buttonUnactive {
  width: 10vw;
  height: 10vh;
  display: flex;

  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.18);
  border-radius: 0px 4px 4px 0px;
}
.buttonUnactive input {
  display: none;
}
.buttonUnactive p {
  font-family: Muli;
  font-size: 25px;
}
.checkedIcon {
  font-size: 30px;
  color: white;
}
.checkedIconUnactive {
  display: none;
}
