.wrapper {
  border: none;
  max-width: 22vw;
  margin: 2em auto 2em;
  outline: 2px solid blue;
  padding: 1rem;
  font-size: 1.3em;
}

.heading {
  font-size: 1.2em;
}

.wrapper {
  --text-color: #a3a3a3;
  --accent-color: #383737;
  --accent-shadow-dark: rgba(6, 148, 193, 0.17);
  --accent-shadow-light: rgba(6, 148, 193, 0.07)
}

.radio {
  padding: .65rem 0;
}

.label {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  position: relative;
  font-size: 1.15em;
  line-height: 1;
}

.radio__input {
  position: absolute;
  left: -5000px;
  top: 0;
  /* opacity: 0; */
  padding: 0;
  box-shadow: none;
}

.radio__input:checked ~ .radio__button {
  border: 2px solid var(--accent-color);
  transition: border .3s;
}

.radio__input:checked + .radio__button::after {
  opacity: 1;
  transition: opacity .3s;
}

.radio__input:checked ~ .radio__label {
  color: var(--accent-color);
  transition: color .3s;
  font-weight: bold;
}

.radio__button:hover {
  box-shadow: 0 0 0 .3em var(--accent-shadow-light);
}

.radio__button:active {
  box-shadow: 0 0 0 .3em var(--accent-shadow-dark);
}


.radio__input:focus + .radio__button {
  box-shadow: 0 0 0 .3em var(--accent-shadow-light);
}


.radio__button {
  height: .9em;
  width: .9em;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  background-color: white;
  margin-right: 1em;
  transition: border .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow .3s;
}

.radio__button::after {
  content: '';
  border-radius: 50%;
  background-color: var(--accent-color);
  width: 0.5em;
  height: 0.5em;
  display: flex;
  opacity: 0;
  transition: opacity .3s;
}

.radio__label {
  color: var(--text-color); /* color of label text */
  transition: color .3s;
}