.header {
  width: 98vw;
  background: #0694c1;
  color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.navicon {
  padding: 13px;
  padding-bottom: 8px;
  background: #0694c1;
  transition: opacity 0.3s ease;
}

.navicon :hover{
  transition: opacity 0.3s ease;
  opacity: 0.8;
}

.title {
  padding: 8px;
  background: #0694c1;
}

@media only screen and (max-width: 576px) {
  .header{
    justify-content: flex-start;
  }
}