.darkbackground {
  position: fixed;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
  background: #000000ad;
  z-index: 3;
}
.modalWrapper {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  min-height: 85vh;
  min-width: 85vw;
  overflow: hidden;
  position: absolute;
  margin: 3rem auto 2rem;
  padding: 3rem;
  z-index: 3;
}
.visibleWrapper {
  position: absolute;
  padding: 2rem;
  top: 0;
  opacity: 100%;
  pointer-events: all;
  transition: all 0.1s ease;
}
.invisibleWrapper{
  position: absolute;
  padding: 2rem;
  top: -20px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s ease;
}

.heading {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

.closeButton {
  align-items: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-flex;
  height: 2rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
}

.closeButton:hover {
  background-color: black;
}

.icon {
  color: black;
  font-size: 1.5rem;
}

.closeButton:hover .icon {
  color: white;
}
