
* {
  font-family: Ubuntu;
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

@media (min-width: 576px) { 
  * {
    font-size: 16px;
  }
 }

@media (min-width: 768px) { 
  * {
    font-size: 18px;
  }
 }

@media (min-width: 992px) { 
  * {
    font-size: 20px;
  }
 }

@media (min-width: 1200px) { 
  * {
    font-size: 21px;
  }
 }
